@import "../../styles/variables.scss";

.homeBox {
  @extend .container;
  gap: 1rem;
  padding-left: 2px;
  padding-right: 2px;
}

.menuBox {
  @extend .hbox;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.mapBox {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  // border: 2px solid $background-dark;
  border-radius: 18px;
  overflow: hidden;
}

.listBox {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-color: rgb(235, 235, 235);
  padding: 0 4px;
  border-radius: 16px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.newEventButton {
  @extend .button;
  gap: 1rem;
  padding: 8px;
  border-radius: 50px;
  background-color: $primary-dark;
  width: 3.5rem;
  height: 3.5rem;
}

.listSwitchBox {
  width: 140px;
}

.noEventsText {
  font-family: "Lato";
  font-size: 16px;
}

.dateSwitchBox {
  width: 70%;
}

