@import "../../styles/variables.scss";

.homeBox {
  @extend .container;
  gap: 1rem;
  padding-left: 2px;
  padding-right: 2px;
}

.menuBox {
  @extend .hbox;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.mapBox {
  width: 100%;
  height: 80%;
  border: 2px solid $background-dark;
  border-radius: 26px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.newEventButton {
  @extend .button;
  gap: 1rem;
  padding: 8px;
  border-radius: 50px;
  background-color: $primary-dark;
  width: 3.5rem;
  height: 3.5rem;
}

.listSwitchBox {
  width: 150px;
}

.dateSwitchBox {
  width: 70%;
}

