@import "../../styles/variables.scss";

.eventsBox {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.scrollBox {
  justify-content: "center";
  align-items: "center";
  gap: 1rem;
}

.newEventBox {
  flex: 1;
  gap: 1rem;
  padding: 16px;
  padding-bottom: 5rem;
}

.fieldBox {
  @extend .vbox;
  justify-content: center;
  gap: 1rem;
  min-width: 100%;
  padding: 16px 12px;
  background-color: $text;
  border-radius: 12px;
}

.endFieldBox {
  @extend .fieldBox;
  margin-bottom: 32px;
}

.titleBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  min-height: 32px;
}

.titleText {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
  // color: grey;
}

.eventTitleText {
  @extend .titleText;
  font-family: "Lato-Bold";
}

.userBox {
  @extend .hbox;
  justify-content: center;
  padding: 8px;
  gap: 0.5rem;
  min-width: 85%;
}

.userTagBox {
  @extend .vbox;
  justify-content: center;
  background-color: $background;
  padding: 8px;
  border-radius: 12px;
  min-width: 40%;
  margin-right: auto;
}

.markerIcon {
  font-size: 18px;
  color: rgb(234, 67, 53);
}

.mapBox {
  min-width: 100%;
  height: 18rem;
  border: 2px solid $background-dark;
  border-radius: 12px;
  overflow: hidden;
}

.map {
  min-width: 100%;
  min-height: 100%;
}

.dateButton {
  @extend .button;
  flex-direction: column;
  background-color: $primary-light;
  border-radius: 12px;
  padding: 10px 26px;
}

.dateText {
  @extend .buttonText;
  font-family: "Lato-Bold";
  // color: $text;
}

.timeText {
  @extend .dateText;
  font-family: "Lato";
}

.timeButton {
  @extend .dateButton;
  background-color: $primary-dark;
  padding: 10px 32px;
}

.timeBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.5rem;
}

.dateTimeBox {
  @extend .hbox;
  gap: 1rem;
}

.dateIcon {
  font-size: 18px;
  color: $primary-dark;
}

.participantsIcon {
  font-size: 20px;
  color: $success;
}

.participantsCountBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 12px;
  padding: 8px;
  background-color: $success;
}

.participantsLimitText {
  @extend .dateText;
  color: rgb(170, 241, 170);
}

.numOfParticipantsBox {
  @extend .hbox;
  margin-top: auto;
  gap: 0.3rem;
}

.participantsListBox {
  @extend .vbox;
  justify-content: center;
  width: 60%;
  min-height: 5rem;
  border-radius: 12px;
  background-color: $background;
}

.noParticipantsText {
  font-family: "Lato";
  font-size: 16px;
}

.infoIcon {
  font-size: 20px;
  color: $button;
}

.smallTitleText {
  @extend .titleText;
  font-size: 14px;
  color: grey;
}

.infoBox {
  @extend .vbox;
  gap: 0.5rem;
  background-color: $background;
  padding: 12px 8px;
  border-radius: 12px;
  min-width: 90%;
}

.attendButton {
  @extend .button;
  background-color: $success;
  padding: 16px;
  width: 60%;
  margin: 4px;
  gap: 0.5rem;
}

.attendButtonIcon {
  font-size: 22px;
  color: $text;
}

.unattendBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.2rem;
}

.unattendButton {
  @extend .attendButton;
  background-color: $danger;
  width: 30%;
  margin-left: 1rem;
}

.unattendInfoIcon {
  font-size: 18px;
  color: grey;
}

.deleteButtonBox {
  @extend .vbox;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

.editButton {
  @extend .attendButton;
  background-color: $background-dark;
}

.deleteButton {
  @extend .attendButton;
  background-color: rgb(234, 67, 53);
  margin-bottom: 32px;
}

.buttonIcon {
  font-size: 16px;
  color: $text;
}

.editButtonBox {
  @extend .deleteButtonBox;
  padding: 0;
}

.imgBox {
  @extend .hbox;
  position: absolute;
  justify-content: center;
  gap: 0.5rem;
  // padding: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  min-width: 100%;
  height: 100%;
}

.imgButton {
  @extend .vbox;
  justify-content: center;
  min-width: 80%;
  height: 12rem;
  background-color: $background-dark;
  border-radius: 16px;
  overflow: hidden;
  // margin-bottom: 1rem;
}

.imgIcon {
  color: $text;
  font-size: 32px;
}

.imgBtnText {
  @extend .buttonText;
  font-size: 14px;
}

.saveButton {
  @extend .deleteButton;
  background-color: $success;
  width: 60%;
}

.cancelButton {
  @extend .editButton;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 0;
}

.cancelIcon {
  font-size: 26px;
  color: $text;
}
