@import "../../styles/variables.scss";

$switch-width: 100%;
$switch-height: 45px;
$circle-width: 50%;
$circle-height: 100%;
$border-radius: 12px;
$padding: 4px;

.switchContainer {
  flex-direction: row;
  justify-content: center;
  width: $switch-width;
  height: $switch-height;
  border-radius: $border-radius;
  padding: $padding;
  background-color: $background-dark;
}

.labelsBox {
  @extend .hbox;
  justify-content: center;
  width: 100%;
}

.labelBox {
  @extend .hbox;
  justify-content: center;
  border-radius: 8px;
  gap: 0.5rem;
  height: 100%;
}

.selectedLabelBox {
  @extend .labelBox;
  background-color: $background;
}

.label {
  @extend .buttonText;
  font-size: 18px;
  color: black;
}

