@import "../../styles/variables.scss";

.upcomingBox {
  @extend .container;
  gap: 1rem;
  padding: 8px;
}

.titleBox {
  @extend .hbox;
  width: 100%;
  padding: 8px 16px;
}

.titleText {
  font-family: "Lato";
  font-size: 28px;
  width: 65%;
}

.listSwitchBox {
  width: 35%;
  margin-left: auto;
}
