@import "../../styles/variables.scss";

.userBox {
  @extend .hbox;
  gap: 0.5rem;
  // width: 10rem;
  padding-right: 16px;
  padding-left: 4px;
  height: 2rem;
}

.userImage {
    border-radius: 100px;
    height: 25px;
    width: 25px;
}

.nameText {
  font-family: "Lato";
}
