@import "./../../styles/variables.scss";

.layout {
  @extend .screen;
}

.logoHeader {
  @extend .hbox;
  justify-content: start;
  background-color: $primary;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
