@import "../../styles/variables.scss";

.eventsBox {
  @extend .container;
  gap: 1rem;
  padding: 8px;
}

.titleBox {
  @extend .hbox;
  width: 100%;
  padding: 8px 16px;
}

.titleText {
  font-family: "Lato";
  font-size: 28px;
  width: 65%;
}

.listSwitchBox {
  width: 35%;
  margin-left: auto;
}

.mapBox {
  width: 100%;
  height: 80%;
  border: 2px solid $background-dark;
  border-radius: 18px;
  overflow: hidden;
}

.listBox {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70%;
  background-color: rgb(235, 235, 235);
  padding: 0 4px;
  border-radius: 16px;
  overflow: hidden;
}

.noEventsText {
  font-family: "Lato";
  color: grey;
  font-size: 18px;
}

.map {
  width: 100%;
  height: 100%;
}

.newEventButton {
  position: absolute;
  @extend .button;
  bottom: 20px;
  right: 20px;
  gap: 1rem;
  padding: 8px;
  border-radius: 50px;
  background-color: $primary-dark;
  width: 3.5rem;
  height: 3.5rem;
}
