@import "../../styles/variables.scss";

.eventsBox {
  flex: 1;
  justify-content: center;
  align-items: center;
}


.newEventBox {
  flex: 1;
  gap: 1rem;
  padding: 16px;
  padding-bottom: 5rem;
}
.sportTypeBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.3rem;
  background-color: $primary;
  width: 100%;
  border-radius: 16px;
  padding: 12px 16px;
}

.newEventText {
  font-family: "Caveat-Bold";
  font-size: 28px;
  width: 20%;
  color: $text;
  text-align: center;
}

.text {
  @extend .newEventText;
  color: grey;
  font-size: 22px;
  width: 100%;
}

.mapBox {
  width: 100%;
  height: 15rem;
  border: 2px solid $background-dark;
  border-radius: 26px;
  overflow: hidden;
}

.errorMapBox {
  @extend .mapBox;
  border: 2px solid rgb(228, 0, 0);
}

.map {
  width: 100%;
  height: 100%;
}

.labelText {
  width: 95%;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.errorInput {
  @extend .input;
  border: 2px solid rgb(228, 0, 0);
}

.numberInput {
  @extend .input;
  width: 60%;
}

.dateTimeBox {
  @extend .hbox;
  gap: 1rem;
}

.error {
  color: red;
  margin-top: -1rem;
  font-size: 12px;
}

.dateButton {
  @extend .button;
  background-color: $text;
  background-color: $button;
  border-radius: 12px;
  padding: 10px 26px;
}

.dateText {
  @extend .buttonText;
  color: $text;
}

.timeButton {
  @extend .dateButton;
  padding: 10px 32px;
}

.imgBox {
  @extend .vbox;
  width: 15rem;
  height: 10rem;
  background-color: $background-dark;
  border-radius: 16px;
  overflow: hidden;
}

.errorImgBox {
  @extend .imgBox;
  border: 2px solid rgb(228, 0, 0);
}

.image {
  width: 100%;
  height: 100%;
  // border-radius: 100px;
}

.imgButton {
  @extend .button;
  background-color: $primary;
  width: 45%;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 8px;
}

.imgIcon {
  color: $text;
  font-size: 20px;
}

.imgBtnText {
  @extend .buttonText;
  font-size: 14px;
}

.typeBox {
  @extend .hbox;
  // justify-content: center;
  gap: 1rem;
  width: 95%;
}

.submitButton {
  @extend .button;
  background-color: $primary-dark;
  padding: 16px;
  width: 65%;
  margin: 8px;
}

.spinnerBox {
  @extend .vbox;
  gap: 1.5rem;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.successIcon {
  font-size: 38px;
  color: $success;
}

.logo {
  width: 50%;
  height: 45px;
}

