@import "../../styles/variables.scss";

.eventsBox {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.newEventBox {
  flex: 1;
  gap: 1rem;
  padding: 16px;
  padding-bottom: 5rem;
}

.fieldBox {
  @extend .vbox;
  justify-content: center;
  gap: 1rem;
  min-width: 100%;
  padding: 16px 12px;
  background-color: $text;
  border-radius: 12px;
}

.sportTypeBox {
  @extend .hbox;
  // justify-content: center;
  gap: 2rem;
  // background-color: red;
  min-width: 95%;
}

.titleText {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
  // color: grey;
}

.smallTitleText {
  @extend .titleText;
  font-size: 14px;
  color: grey;
}

.text {
  @extend .titleText;
  color: grey;
  font-size: 22px;
  width: 100%;
}

.mapBox {
  min-width: 100%;
  height: 18rem;
  border: 2px solid $background-dark;
  border-radius: 12px;
  overflow: hidden;
  margin-top: -1rem;
}

.errorMapBox {
  @extend .mapBox;
  border: 2px solid rgb(228, 0, 0);
}

.map {
  min-width: 100%;
  min-height: 100%;
}

.labelText {
  width: 95%;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.errorInput {
  @extend .input;
  border: 2px solid rgb(228, 0, 0);
}

.numberInput {
  @extend .input;
  width: 60%;
}

.dateTimeBox {
  @extend .vbox;
  width: 100%;
  gap: 0.5rem;
}

.error {
  color: red;
  margin-top: -1rem;
  font-size: 12px;
}

.dateButton {
  @extend .button;
  flex-direction: column;
  background-color: $primary-light;
  border-radius: 12px;
  padding: 10px 26px;
}

.dateText {
  @extend .buttonText;
  font-family: "Lato-Bold";
  // color: $text;
}

.timeText {
  @extend .dateText;
  font-family: "Lato";
}

.timeButton {
  @extend .dateButton;
  background-color: $primary-dark;
  padding: 10px 24px;
  border-radius: 10px;
}

.weatherBox {
  width: 100%;
  padding: 8px;
  background-color: $background-light;
  // gap: 1rem;
  min-height: 7rem;
  border-radius: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.weatherErrorText {
  text-align: center;
  font-size: 16px;
  font-family: "Lato";
  color: grey;
}

.weatherInfoBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.tempBox {
  @extend .vbox;
  justify-content: center;
  height: 6rem;
  padding: 6px;
  gap: 2px;
  border-radius: 8px;
  background-color: $text;
  border: 2px solid $background;
  margin:3px;
}

.weatherDateBox {
  @extend .vbox;
  justify-content: center;
  background-color: $primary-light;
  padding: 4px;
  border-radius: 6px
}

.weatherImage {
  width: 26px;
  height: 26px;
}

.weatherText {
  @extend .timeText;
  color: rgb(39, 39, 39);
}

.weatherTextBold {
  @extend .dateText;
  color: grey;
}

.spinnerBox {
  width: 100%;
  height: 100%;
}

.imgBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  padding: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.errorImgBox {
  @extend .imgBox;
  border: 2px solid rgb(228, 0, 0);
}

.image {
  min-width: 100%;
  height: 100%;
}

.imgButton {
  @extend .vbox;
  justify-content: center;
  min-width: 80%;
  height: 12rem;
  background-color: $background-dark;
  border-radius: 16px;
  overflow: hidden;
  // margin-bottom: 1rem;
}

.imgIcon {
  color: $text;
  font-size: 20px;
}

.imgBtnText {
  @extend .buttonText;
  font-size: 14px;
}

.typeBox {
  @extend .hbox;
  // justify-content: center;
  gap: 1rem;
  padding: 4px 0;
  width: 95%;
}

.submitButton {
  @extend .button;
  background-color: $primary-dark;
  padding: 16px;
  width: 50%;
  // margin: 4px;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.submitIcon {
  color: $text;
  font-size: 14px;
}

.markerIcon {
  font-size: 18px;
  color: rgb(234, 67, 53);
}

.participantsIcon {
  font-size: 20px;
  color: $success;
}

.dateIcon {
  font-size: 18px;
  color: $primary-dark;
}

.titleBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  min-width: 100%;
  margin-bottom: 1rem;
}
