@import "./../../styles/variables.scss";

.layout {
  flex: 1;
  // justify-content: center;
  // align-items: center;
  // background-color: $background;
}

.logoHeader {
  @extend .hbox;
  justify-content: center;
  background-color: $background;
  // border-bottom-color: rgb(236, 236, 236);
  // border-bottom-width: 2px;
  height: 80px;
  width: 100%;
  gap: 1rem;
}

.headerBox {
  @extend .hbox;
  width: 50%;
  height: 100%;
  padding: 8px;
}

.logo {
  width: 75%;
  height: 42%;
  margin-top: auto;
  margin-right: auto;
}

.spinnerBox {
  margin-top: auto;
  margin-left: auto;
  margin-right: 8px;
}

.userImage {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 4px;
  margin-top: auto;
  margin-left: auto;
  border: 2px solid $primary-light;
}
