@import "../../styles/variables.scss";

.scrollBox {
  flex: 1;
  margin-top: -1rem;
  background-color: $primary;
}

.registerBox {
  @extend .container;
}

.formBox {
  @extend .vbox;
  gap: 1.5rem;
  width: 90%;
  //   height: 55%;
  padding: 16px;
  border-radius: 24px;
}

.imgButton {
  @extend .button;
  width: 120px;
  height: 120px;
  padding: 4px;
  border-radius: 100px;
  background-color: $primary-light;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.imgIcon {
  color: $primary-dark;
  font-size: 26px;
}

.imgBtnText {
  @extend .buttonText;
  font-size: 14px;
}

.ageBox {
  @extend .hbox;
  justify-content: center;
  height: auto;
  gap: 1rem;
  min-width: 80%;
  padding: 12px 8px;
  background-color: $text;
  border-radius: 12px;
}

.titleText {
  // font-family: "Lato";
  font-size: 14px;
  // min-width: 30%;
  // text-align: center;
  color: rgb(153, 153, 153);
}

.numberInputBox {
  height: 2.5rem;
  width: 50%;
}

.registerButton {
  @extend .vbox;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: $text;
  padding: 8px;
  // margin-top: 1rem;
  background-color: $secondary;
  width: 70%;
  height: 3.5rem;
}

.favBox {
  @extend .hbox;
  gap: 0.5rem;
}

.favText {
  font-size: 24px;
  color: $text;
  // background-color: red;
  min-height: 3rem;
  width: 100%;
  text-align: center;
  font-family: "Caveat-Bold";
  margin-bottom: -0.5rem;
}
