@import "../../styles/variables.scss";

.profileBox {
  @extend .container;
  padding: 8px;
  min-height: 5rem;
}

.scrollBox {
  justify-content: "center";
  align-items: "center";
  gap: 1rem;
}

.profileScrollBox {
  flex: 1;
  gap: 1rem;
  padding: 16px;
  margin-top: -1rem;
}

.titleBox {
  @extend .hbox;
  width: 100%;
  padding: 8px 16px;
}

.titleText {
  font-family: "Lato";
  font-size: 28px;
  width: 65%;
}

.labelText {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
}

.listSwitchBox {
  width: 35%;
  margin-left: auto;
}

.profileBox {
  @extend .container;
  gap: 1rem;
  padding: 8px;
}

.listBox {
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  min-height: 70%;
  overflow: hidden;
}

.logoutText {
  @extend .buttonText;
}

.fieldBox {
  @extend .vbox;
  justify-content: center;
  height: auto;
  gap: 1rem;
  min-width: 100%;
  padding: 16px 12px;
  background-color: $text;
  border-radius: 12px;
}

.imageBox {
  @extend .hbox;
  justify-content: center;
  // width: 30%;
  // height: 6rem;
}

.image {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: 2px solid $primary-dark;
}

.nameBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.5rem;
  // height: 6rem;
  // width: 60%;
}

.nameText {
  font-family: "Lato-Bold";
  color: $text;
  text-align: center;
  font-size: 22px;
  padding: 12px 32px;
  // text-align: center;
  border-radius: 8px;
  background-color: $primary-dark;
}

.emailText {
  @extend .nameText;
  font-family: "Lato";
  font-size: 16px;
  color: grey;
  background-color: $background;
}

.infoText {
  @extend .emailText;
  min-width: 50%;
}

.favBox {
  @extend .hbox;
  justify-content: center;
  width: 95%;
  height: 10%;
  border-radius: 10px;
  padding: 16px;
  background-color: $background-dark;
}

.favText {
  font-size: 24px;
  color: $text;
  width: 50%;
  text-align: center;
  font-family: "Caveat-Bold";
}

.favSportBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  background-color: $text;
  padding: 12px 32px;
  border-radius: 12px;
}

.myEventsText {
  @extend .favText;
  font-size: 26px;
  color: $primary-dark;
}

.editButton {
  @extend .button;
  background-color: $background-dark;
  width: 60%;
  gap: 0.5rem;
  padding: 16px;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.buttonIcon {
  font-size: 16px;
  color: $text;
}

.logoutButton {
  @extend .editButton;
  background-color: $danger;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.saveButton {
  @extend .logoutButton;
  background-color: $success;
  width: 60%;
}

.attendButtonIcon {
  font-size: 22px;
  color: $text;
}

.editButtonBox {
  @extend .vbox;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.cancelButton {
  @extend .editButton;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 0;
}

.numberInputBox {
  height: 2.5rem;
  width: 50%;
}
