@import "../../../styles/variables.scss";

.eventListItem {
  @extend .hbox;
  justify-content: center;
  background-color: $text;
  border-radius: 12px;
  margin: 4px 0;
  min-width: 100%;
  height: 7.5rem;
  padding: 12px;
}

.myEventListItem {
  @extend .eventListItem;
  // background-color: $background-light;
  border: 2px solid $primary-dark;
}

.dateTimeBox {
  @extend .vbox;
  justify-content: center;
  height: 100%;
  width: 20%;
  gap: 0.2rem;
  margin-right: auto;
}

.dateText {
  color: $text;
  font-family: "Lato-Bold";
}

.timeText {
  @extend .dateText;
  font-family: "Lato";
}

.dateBox {
  @extend .vbox;
  justify-content: center;
  padding: 4px;
  width: 90%;
  background-color: $primary-light;
  border-radius: 12px;
}

.timeBox {
  @extend .dateBox;
  background-color: $primary;
  border-radius: 8px;
}

.eventInfoBox {
  @extend .vbox;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 75%;
  // padding: 8px;
  gap: 0.2rem;
}

.userBox {
  @extend .vbox;
  align-items: start;
  height: 100%;
  // background-color: red;
  // padding: 4px;
  width: 25%;
  gap: 0.5rem;
}

.titleBox {
  @extend .hbox;
  padding: 0 6px;
  gap: 0.5rem;
  width: 100%;
  height: 28px;
  overflow: hidden;
}

.titleText {
  font-family: "Lato";
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.participantsText {
  @extend .titleText;
  font-size: 16px;
}

.seperatorText {
  @extend .titleText;
  color: $background-dark;
}

.eventTitleBox {
  @extend .titleBox;
  padding: 6px;
  width: 80%;
  border-radius: 8px;
  background-color: $background;
}

.eventTitleText {
  @extend .titleText;
  font-family: "Lato-Bold";
  font-size: 14px;
}

.titleIcon {
  font-size: 22px;
  color: gray;
}

.markerIcon {
  font-size: 14px;
  color: rgb(234, 67, 53);
  margin-left: 3px;
}

.participantsIcon {
  font-size: 16px;
  color: $success;
}

.userTitleBox {
  @extend .titleBox;
  gap: 0.15rem;
}

.userTagBox {
  // @extend .titleBox;
  margin-left: auto;
  background-color: rgba(245, 245, 245, 0.849);
  border-radius: 8px;
}

.descriptionText {
  @extend .titleText;
  background-color: $text;
  padding: 8px;
}
