@import "./../../styles/variables.scss";

$background-light:#e6e6e6;

.box {
  height: 45px;
  width: 200px;
  @extend .hbox;
  justify-content: center;
}

.sportBox {
  @extend .hbox;
  gap: 0.2rem;
  width: 80%;
  justify-content: center;
  height: 100%;
  background-color: $primary-dark;
  border: 2px solid $text;
  border-radius: 16px;
}

.sportBox2 {
  @extend .sportBox;
  border:none;
  background-color: $text;
}

.sportText {
  @extend .buttonText;
  font-size: 18px;
  // color: $text;
}

.sportText2 {
  @extend .sportText;
  color: black;
}

.button {
  padding: 2px;
}

.buttonIcon {
  font-size: 22px;
  margin-left: -16px;
  margin-right: -16px;
  color: $primary-light;
}

.buttonIcon2 {
  @extend .buttonIcon;
  color: $background-light;
}

.sportIcon {
  font-size: 24px;
}

.allSportsIcon {
  @extend .sportIcon;
  color: $primary-dark;
}
.basketballIcon {
  @extend .sportIcon;
  color: rgb(226, 109, 0);
}
.baseballIcon {
  @extend .sportIcon;
  color: rgb(235, 216, 179);
}
.tennisIcon {
  @extend .sportIcon;
  color: rgb(19, 235, 19);
}
.footballIcon {
  @extend .sportIcon;
  color: rgb(160, 91, 12);
}
.soccerIcon {
  @extend .sportIcon;
  color: rgb(71, 71, 71);
}
.hockeyIcon {
  @extend .sportIcon;
  color: rgb(154, 204, 207);
}
.volleyballIcon {
  @extend .sportIcon;
  color: rgb(173, 157, 67);
}
.golfIcon {
  @extend .sportIcon;
  color: rgb(236, 236, 236);
}
.bicycleIcon {
  @extend .sportIcon;
  color: rgb(104, 198, 253);
}
