@import "./../../styles/variables.scss";

$background-light: #e6e6e6;

.box {
  height: 45px;
  width: 200px;
  @extend .hbox;
  justify-content: center;
}

.sportBox {
  @extend .hbox;
  gap: 0.2rem;
  width: 85%;
  justify-content: center;
  height: 100%;
  background-color: $text;
  border: 2px solid $background;
  border-radius: 12px;
}

.sportBox2 {
  @extend .sportBox;
  border: none;
  background-color: $text;
}

.sportText {
  @extend .buttonText;
  font-size: 18px;
  color: black;
  // color: $text;
}

.sportText2 {
  @extend .sportText;
  color: black;
}

.button {
  min-height: 100%;
  min-width: 16px;
  padding: 4px;
}

.buttonIcon {
  font-size: 14px;
  margin-left: -16px;
  margin-right: -16px;
  color: $background-dark;
}

.buttonIcon2 {
  @extend .buttonIcon;
  color: $background-dark;
}

.sportIcon {
  font-size: 24px;
}

.allSportsIcon {
  @extend .sportIcon;
  color: rgb(36, 36, 36);
}
.basketballIcon {
  @extend .sportIcon;
  color: rgb(226, 109, 0);
}
.baseballIcon {
  @extend .sportIcon;
  color: rgb(221, 237, 240);
}
.tennisIcon {
  @extend .sportIcon;
  color: rgb(19, 235, 19);
}
.footballIcon {
  @extend .sportIcon;
  color: rgb(160, 91, 12);
}
.soccerIcon {
  @extend .sportIcon;
  color: rgb(97, 97, 97);
}
.hockeyIcon {
  @extend .sportIcon;
  color: rgb(160, 219, 223);
}
.volleyballIcon {
  @extend .sportIcon;
  color: rgb(233, 200, 17);
}
.golfIcon {
  @extend .sportIcon;
  color: rgb(207, 252, 255);
}
.bicycleIcon {
  @extend .sportIcon;
  color: rgb(136, 228, 32);
}
.runningIcon {
  @extend .sportIcon;
  color: rgb(192, 27, 123);
}
.swimmingIcon {
  @extend .sportIcon;
  color: rgb(136, 210, 253);
}
.pingPongIcon {
  @extend .sportIcon;
  font-size: 22px;
  color: rgb(231, 43, 29);
}
.skateboardingIcon {
  @extend .sportIcon;
  color: rgb(94, 38, 139);
}
.snowboardingIcon {
  @extend .sportIcon;
  color: rgb(101, 142, 167);
}
.surfingIcon {
  @extend .sportIcon;
  color: rgb(10, 161, 248);
}
